@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-primary-color">Access Denied</h1>
    <p class="text-primary-color">This is not the place for a good person like you</p>
</header>
