@{
    ViewData["Title"] = "Confirm Email";
}

<h2 class="text-primary-color">@ViewData["Title"]</h2>
<div>
    <p class="text-primary-color">
        Thank you for confirming your email. Please <a class="mdl-color-text--accent" asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>
</div>
