@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2 class="text-primary-color">@ViewData["Title"]</h2>
<p class="text-primary-color">
    Please check your email to reset your password.
</p>
