@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-primary-color">Locked out</h1>
    <p class="text-primary-color">This account has been locked out, please try again later.</p>
</header>
