@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="mdl-typography--text-center">
    <h1 class="text-primary-color">@ViewData["Title"]</h1>
    <p class="text-primary-color">
        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
    </p>
</div>