@model Paper_Portal.Models.Paper

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paper</h4>
    <hr />
    <form asp-action="Delete" class="form-horizontal">
        <div class="col-md-offset-2 col-md-10">
            <h4>Paper</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            @Html.Partial("_PaperDetail")
            <div class="form-group">
                <a class="btn btn-default" asp-action="Index">Back to List</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.PaperId">Delete</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
            $(".input-fields").prop("disabled", true); //Disable
    </script>
}