@model Paper_Portal.Models.Paper
@using Paper_Portal.Helpers;

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<form asp-action="Details" class="form-horizontal">
    <div class="col-md-offset-2 col-md-10">
        <h4>Paper</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        @Html.Partial("_PaperDetail")
        <div class="form-group">
            <a class="btn btn-default" asp-action="Index">Back to List</a>
            @if (User.IsInRole(RoleHelper.Teacher))
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.PaperId">Edit</a>
            }
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(".input-fields").prop("disabled", true); //Disable
    </script>
}