@model Paper_Portal.Models.Paper

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Paper</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PaperId" />
        <div class="form-group">
            <label asp-for="Copies" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Copies" class="form-control" />
                <span asp-validation-for="Copies" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DownloaderId" class="control-label col-md-2">DownloaderId</label>
            <div class="col-md-10">
                <select asp-for="DownloaderId" class="form-control" />
                <span asp-validation-for="DownloaderId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Due" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Due" class="form-control" />
                <span asp-validation-for="Due" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EncKey" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EncKey" class="form-control" />
                <span asp-validation-for="EncKey" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FilePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UploaderId" class="control-label col-md-2">UploaderId</label>
            <div class="col-md-10">
                <select asp-for="UploaderId" class="form-control" />
                <span asp-validation-for="UploaderId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
