@model IEnumerable<Paper_Portal.Models.Paper>
@using Paper_Portal.Helpers
@{
    ViewData["Title"] = "Papers";
}

<h2>@ViewData["Title"]</h2>
@if ((string)ViewData["StatusMessage"] != "")
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewData["StatusMessage"]
    </div>
}

@if (User.IsInRole(RoleHelper.Teacher))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Papers</h3>
    </div>
    <div class="panel-body">
        <form asp-controller="Papers" asp-action="Done" method="post" class="form-horizontal" role="form">
            @Html.Partial("_CheckAllPartial")
            @{ 
                ViewData["Checks"] = "true";
                ViewData["Options"] = "true";
            }
            @Html.Partial("_PapersList", Model)
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var checkeventcount = 1, prevTarget;
        $('.modal').on('show.bs.modal', function (e) {
            if (typeof prevTarget == 'undefined' || (checkeventcount == 1 && e.target != prevTarget)) {
                prevTarget = e.target;
                checkeventcount++;
                e.preventDefault();
                $(e.target).appendTo('body').modal('show');
            }
            else if (e.target == prevTarget && checkeventcount == 2) {
                checkeventcount--;
            }
        });
    </script>
}