@{
    ViewData["Title"] = "About";
}
<h2 class="mdl-color-text--primary-contrast">@ViewData["Title"]</h2>

<div class="well">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed lacus eget quam pretium suscipit id nec lorem. Sed ac vulputate quam. Mauris volutpat sollicitudin ipsum, id consectetur orci convallis ullamcorper. Ut lacinia laoreet ligula, vitae sodales lorem ullamcorper ut. Morbi ornare nec enim non auctor. Etiam aliquet nibh eu justo consequat, ac aliquet metus placerat. Integer vestibulum varius enim, in vestibulum sapien scelerisque a. Cras lobortis, neque vel cursus fermentum, tortor ipsum suscipit tortor, quis egestas diam neque a augue. Phasellus placerat ex nulla, et lacinia nisl posuere in. Mauris non tortor blandit, semper augue tempus, vehicula tortor. Duis eu imperdiet massa, ut bibendum sem. Integer efficitur ornare maximus.
    </p>
    <p>
        Vestibulum semper semper felis vel blandit. Donec vitae pulvinar quam, vel posuere diam. Donec nec magna sapien. Nulla molestie turpis purus, ac fermentum massa vestibulum vitae. Morbi at ornare ipsum. Quisque fringilla libero mauris, a congue ipsum tempus quis. Maecenas pretium dolor augue, eget facilisis risus fermentum at.
    </p>
    <p>
        Nullam tincidunt velit vitae risus eleifend, at porta sem bibendum. Vivamus ornare tristique mi eu sodales. Sed egestas, metus consequat hendrerit varius, magna ligula placerat arcu, non facilisis dui justo ut ligula. Donec ante quam, dapibus quis dolor vitae, consequat efficitur ligula. Vivamus auctor nibh ac dui rhoncus, ac viverra dui venenatis. Proin sit amet ultrices massa. Nam in pulvinar risus, at venenatis diam. Sed ut porta augue. Praesent ex mi, pretium vel urna non, porta vestibulum ipsum. Donec nec erat sagittis, sodales ligula vitae, sollicitudin tortor. Maecenas vel metus at ipsum viverra rutrum eu in elit. Aliquam ornare, sem vitae tincidunt ultricies, tortor arcu lobortis sapien, sit amet convallis nisl lacus et lacus.
    </p>
    <p>
        Phasellus nunc mi, dignissim eu nisi non, mattis venenatis ligula. Nunc augue tortor, vestibulum ac auctor ut, finibus nec velit. Vestibulum sit amet nunc nec est semper imperdiet ut ultricies mi. Proin vel urna a tellus suscipit venenatis sed nec ligula. Vivamus non tellus ac justo suscipit elementum. Pellentesque fermentum posuere neque in gravida. Duis at iaculis nunc, eu porta nisi. Donec convallis neque et neque semper feugiat. Donec lacinia purus erat, ac mollis ex gravida auctor. Proin nec accumsan lacus. Donec lectus nibh, sodales nec libero a, vulputate aliquam elit.
    </p>
    <p>
        Phasellus iaculis lorem quam. Aenean eleifend libero eu lorem iaculis tincidunt. Nam nibh mauris, eleifend ut egestas ac, pharetra ac nisi. Aenean sit amet tempor metus. Cras convallis orci ut lectus placerat, et pharetra libero volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam sapien ipsum, sodales sit amet commodo sed, ullamcorper ac dolor. Maecenas eget sapien non dolor consectetur iaculis. In dictum mattis lacus, ac fringilla odio ullamcorper at. Duis nunc lectus, varius at ipsum ac, placerat mattis erat. Nullam ante urna, ornare non porttitor at, sollicitudin ut magna. Mauris suscipit tortor a condimentum tempus. Nulla facilisi.
    </p>
</div>