@{
    ViewData["Title"] = "Contact";
}
<h2 class="mdl-color-text--primary-contrast">@ViewData["Title"]</h2>

<div class="well col-md-4 col-md-offset-4">
    <address>
        University of Haripur<br />
        Hairpur, KP, PK<br />
        <abbr title="Phone">P:</abbr>
        0995-319123
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>