@using System.Security.Claims
@using Sprint.Helpers;

@if (User.IsInRole(RoleHelper.IC))
{
    <div class="form-group">
        <div class="checkbox checkbox-inline">
            <label>
                <input type="checkbox" class="checkbox-inline" id="toggleAll" /> Check All
            </label>
        </div>
        <button class="btn btn-primary btn-raised pull-right" type="submit">Done</button>
    </div>
}