@using System.Security.Claims
@using Sprint.Helpers

@if (User.Identity.IsAuthenticated)
{
    <a class="mdl-navigation__link" asp-controller="Manage" asp-action="Index"><i class="material-icons mdl-button--primary">account_box</i><span>Profile</span></a>
    <a class="mdl-navigation__link" asp-controller="Account" asp-action="LogOff"><i class="material-icons mdl-button--accent">account_circle</i><span>Log&nbsp;off</span></a>
    <div class="sprint-drawer-separator"></div>

    if (User.IsInRole(RoleHelper.Teacher))
    {
        <a class="mdl-navigation__link" asp-controller="Papers" asp-action="Index" asp-route-id=""><i class="material-icons mdl-button--primary">list</i><span>Papers</span></a>
        <a class="mdl-navigation__link" asp-controller="Papers" asp-action="Status"><i class="material-icons mdl-button--accent">done</i><span>Status</span></a>
        <a class="mdl-navigation__link" asp-controller="Papers" asp-action="Create"><i class="material-icons mdl-button--primary">cloud_upload</i><span>Upload</span></a>
        <div class="sprint-drawer-separator"></div>
    }
    if (User.IsInRole(RoleHelper.Admin) || User.IsInRole(RoleHelper.SuperAdmin))
    {
        <a class="mdl-navigation__link" asp-controller="Manage" asp-action="VerifyUsers"><i class="material-icons mdl-button--primary">verified_user</i><span>Verify&nbsp;Users</span></a>
        <a class="mdl-navigation__link" asp-controller="Manage" asp-action="Users"><i class="material-icons mdl-button--accent">view_list</i><span>Manage&nbsp;Users</span></a>
        <div class="sprint-drawer-separator"></div>
    }
    else if (!User.IsInRole(RoleHelper.Teacher))
    {
        <a class="mdl-navigation__link" asp-controller="Papers" asp-action="Index" asp-route-id=""><i class="material-icons mdl-button--primary">list</i><span>Papers</span></a>
        <a class="mdl-navigation__link" asp-controller="Papers" asp-action="Status"><i class="material-icons mdl-button--accent">done</i><span>Status</span></a>
        <div class="sprint-drawer-separator"></div>
    }

}
else
{
    <a class="mdl-navigation__link" asp-controller="Account" asp-action="Login"><i class="material-icons mdl-button--primary">account_circle</i><span>Log&nbsp;in</span></a>
    <a class="mdl-navigation__link" asp-controller="Account" asp-action="Register"><i class="material-icons mdl-button--accent">person_add</i><span>Register</span></a>
}

<a class="mdl-navigation__link" asp-controller="Home" asp-action="Contact"><i class="material-icons">email</i><span>Contact</span></a>
<a class="mdl-navigation__link" asp-controller="Home" asp-action="About"><i class="material-icons">info_outline</i><span>About</span></a>