@model Sprint.Models.Paper

<input type="hidden" asp-for="PaperId" />
<div class="row">
    <div class="col-md-6">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="Title" class="mdl-textfield__label"></label>
            <input asp-for="Title" class="mdl-textfield__input"/>
            <span asp-validation-for="Title" class="mdl-textfield__error" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="Copies" class="mdl-textfield__label"></label>
            <input asp-for="Copies" class="mdl-textfield__input"/>
            <span asp-validation-for="Copies" class="mdl-textfield__error" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="Comment" class="mdl-textfield__label"></label>
            <textarea asp-for="Comment" class="mdl-textfield__input"></textarea>
        </div>
    </div>
</div>