@model Sprint.Models.Paper

<input type="hidden" asp-for="PaperId" />
<div class="row">
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control input-fields" />
            <span asp-validation-for="Title" class="text-danger" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label asp-for="Instructor" class="control-label"></label>
            <input asp-for="Instructor" class="form-control input-fields" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label asp-for="Due" class="control-label"></label>
            <input asp-for="Due" class="form-control input-fields" />
            <span asp-validation-for="Due" class="text-danger" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label asp-for="Copies" class="control-label"></label>
            <input asp-for="Copies" class="form-control input-fields" />
            <span asp-validation-for="Copies" class="text-danger" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group label-floating">
            <label asp-for="Comment" class="control-label"></label>
            <textarea asp-for="Comment" class="form-control input-fields"></textarea>
        </div>
    </div>
</div>