@{
    ViewData["Title"] = "Access Denied";
}

<div class="mdl-typography--text-center">
    <h1 class="mdl-color-text--primary-contrast">Access Denied</h1>
    <p class="mdl-color-text--primary-contrast">This is not the place for a good person like you</p>
</div>
