@{
    ViewData["Title"] = "Email Confirmed";
}


<div class="mdl-typography--text-center">
    <h2 class="text-primary-color">@ViewData["Title"]</h2>

    <h3 class="text-primary-color">
        You can <a class="mdl-color-text--accent" asp-controller="Account" asp-action="Login">Log in</a> to your account now.
    </h3>
</div>
