@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2 class="mdl-color-text--primary-contrast">@ViewData["Title"]</h2>

<div class="well col-md-4 col-md-offset-4">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
        <h4>Enter your email</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="Email" class="mdl-textfield__label"></label>
            <input asp-for="Email" class="mdl-textfield__input" />
            <span asp-validation-for="Email" class="mdl-textfield__error"></span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-4">
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised">Submit</button>
            </div>
        </div>
    </form>
    </div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
