@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="mdl-color-text--primary-contrast">Locked out</h1>
    <p class="mdl-color-text--primary-contrast">This account has been locked out, please try again later.</p>
</header>
