@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="mdl-typography--text-center">
    <h1 class="mdl-color-text--primary-contrast">@ViewData["Title"]</h1>
    <p class="mdl-color-text--primary-contrast">
        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
    </p>
</div>