@{
    ViewData["Title"] = "Home Page";
}

<div class="sprint-slogan-section mdl-typography--text-center">
    <div class="logo-font sprint-slogan  text-primary-color">Secure Printing Portal</div>
    <div class="logo-font sprint-sub-slogan text-primary-color">printing papers with no worries</div>

    @*<div class="logo-font sprint-create-character">
        <a href=""><img src="images/andy.png"> create your sprint character</a>
    </div>*@

</div>