@{
    ViewData["Title"] = "Home Page";
}

<div class="sprint-slogan-section mdl-color--primary-contrast mdl-typography--text-center">
    <img class="sprint-logo-image" src="~/images/logo.png" />

    <div class="logo-font sprint-slogan primary-text-color">Secure Printing Portal</div>
    <div class="logo-font sprint-sub-slogan primary-text-color">printing papers with no worries</div>
</div>