@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2 class="text-primary-color">@ViewData["Title"]</h2>

<div class="well col-sm-4 col-sm-offset-4">
    <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
        <h4>Change Password Form</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group label-floating">
            <label asp-for="OldPassword" class="control-label"></label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group label-floating">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group label-floating">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <div class="form-group">
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised">Change&nbsp;Password</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
