@using System.Security.Claims

@if (User.IsSignedIn())
{
    <button class="sprint-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons md-24">account_circle</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="mdl-menu__item"><a class="mdl-navigation__link" asp-controller="Manage" asp-action="Index" title="Manage">Hello&nbsp;@User.GetUserName()!</a></li>
        <li class="mdl-menu__item"><a class="mdl-navigation__link" asp-controller="Manage" asp-action="Index" title="Manage">Profile</a></li>
        <li class="mdl-menu__item"><a class="mdl-navigation__link" asp-controller="Manage" asp-action="Edit" title="Manage">Edit</a></li>
        <li class="mdl-menu__item"><a class="mdl-navigation__link" asp-controller="Account" asp-action="LogOff">Log&nbsp;off</a></li>
    </ul>
}
else
{
    <a class="mdl-navigation__link" asp-controller="Account" asp-action="Register">Register</a>
    <a class="mdl-navigation__link" asp-controller="Account" asp-action="Login">Log&nbsp;in</a>
}
